GEMSYNC_MANAGER_PORT=5188
GEMSYNC_NODE=
GEMSYNC_PYTHON=
GEMSYNC_PDFINFO=
GEMSYNC_PDFTOPPM=
GEMSYNC_SOFFICE=
GEMSYNC_PPT_CONVERTER=auto
GEMSYNC_CHROME=
GEMSYNC_AUTOMATION_SCRIPTS=
GEMSYNC_DEFAULT_WORKSPACE=
GEMSYNC_DEFAULT_PRE_PROMPT=
GEMSYNC_DEFAULT_PROMPT=请详细讲解这一面PPT
GEMSYNC_DEFAULT_PAGES_PER_PROMPT=1
